<div class="login-container">
    <div class="card">
        <h2>🎓 Gestión Escolar</h2>
        <p>Ingresa tus credenciales</p>

        <form (ngSubmit)="login()">
            <div class="form-group">
                <label>Usuario / Email</label>
                <input type="text" [(ngModel)]="credentials.email" name="email" required
                    placeholder="admin@idat.edu.pe">
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" [(ngModel)]="credentials.password" name="password" required placeholder="12345">
            </div>

            <button type="submit" [disabled]="!credentials.email || !credentials.password">
                Ingresar
            </button>
        </form>

        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
</div>