/* cursos.component.scss */
.container {
    padding: 20px;
}

.tabla-cursos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.activo {
    color: green;
    font-weight: bold;
}

.inactivo {
    color: red;
    font-weight: bold;
}

.btn-crear {
    background: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}